<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>
</head>
<body>
  <main class="container">
    <header>
      <%- include('../../layout/header') %>
    </header>

    <h2>Saved Book Details</h2>
    <ul>
      <% savedDetails.forEach(book => { %>
      <article class="new_book to_hide">
      <img class="to_hide" src="<%= book.image_url %>" />
      <h3 class="to_hide"> <%= book.title %> </h3>
      <p class="to_hide" id="book_author"> <%= book.author %> </p>
      <p class="to_hide" id="detail_desc"> <%= book.description %> </p>
      <p class="to_hide" id="book_isbn"> ISBN: <%= book.isbn %> </p>
      <p class="to_hide" id="book_category"> Bookshelf: <%= book.bookshelf %> </p>
      <!-- jquery toggle button -->
      <button class="to_hide" id="edit_button" type="submit">Update Details</button>

      <!-- deleting info with a form -->
      <form action="/delete/<%= book.id %> ?_method=DELETE" method="POST">
        <input type="hidden" value="<%= book.id %>">
        <button class="to_hide delete_book" type="submit">Delete Book</button>
      </form>

      <!-- updating the info with a form -->
      </article>
      <article class="edit_book">
      <form class="hidden_form" action="/edit/<%= book.id %> ?_method=PUT" method="POST">
        <input id="edit_id" type="hidden" name="id" value="<%= book.id %>">
        <input id="edit_author" type="text" name="author" placeholder="<%= book.author %>">
        <br>
        <input id="edit_title" type="text" name="title" placeholder="<%= book.title %>">
        <br>
        <input id="edit_isbn" type="number" name="isbn" placeholder="<%= book.isbn %>">
        <br>
        <input id="edit_imgurl" type="text" name="image_url" placeholder="<%= book.image_url %>">
        <br>
        <input id="edit_description" type="text" maxlength="10000" name="description" placeholder="<%= book.description %>">
        <br>
        <select id="edit_bookshelf" name="bookshelf">
          <% bookshelf.forEach (book => { %>
            <option value="<%= book %>"> <%= book %> </option>
            <% }) %>
        </select>
        <br>
        <button id="update_button" type="submit">Update the Book</button>
      </form>
      </article> 
      <% }) %>
    </ul>
  </main>
  <%- include('../../layout/footer') %>
</body>

</html>
